@import "tailwindcss";


@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-bg {
  background: linear-gradient(-45deg, #ff6ec4, #7873f5, #4facfe, #43e97b);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}

.flip-card {
  perspective: 1000px; /* 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); /* Hover pe rotate hoga */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* peechhe wala hide */
  border-radius: 16px;
  overflow: hidden;
}

.flip-card-back {
  transform: rotateY(180deg); /* back side ulta hoga */
}

.flip-card {
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
